{% extends 'Indexpage.html' %}

{% block content %}
<title>О проекте</title>
{% endblock %}

{% block body %}
{% load static %}
		<div class="ptb-150 border-t-b" style="background-image: url({% static "img/slider/ps.png"%})">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="slider-content">
							<h2 style="color:white;">О проекте
							</h2>
							<p style="color:LightCyan;">Этот проект был создан 18/05/2022. Это учебный проект, созданный для изучения возможностей фреймворка Django</p>
							<a class="btn" href="http://127.0.0.1:8000/">На главную страницу</a>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}

