{% extends 'postpage.html' %}

{% block body %}
<head>
    <style>
    div {
        border: 1px solid black;
        background-color: Fuchsia;
        padding-top: 5px;
        padding-right: 30px;
        padding-bottom: 5px;
        padding-left: 80px;
        text-align: center;
    }

    .zagolovok {
        text-align: center;
    }
    </style>
    <title>О проекте</title>
</head>

<h1 class="zagolovok">О проекте</h1>

<body style="background-color:MediumSpringGreen;">

<ul class="nav">
    <li><p><a href="http://127.0.0.1:8000/posts/">Просто страница с статитическим маршрутом</a></p></li>
    <li><p><a href="http://127.0.0.1:8000/posts/1/">Страница тестирования динамического маршрута</a></p></li>
    <li><p><a href="http://127.0.0.1:8000/aboutproject/">О проекте</a></p></li>
    <li><p><a href="http://127.0.0.1:8000/redsquad/">Страница с красным html квадратом</a></p></li>
</ul>

<div><p>Этот проект был создан 18/05/2022. Это тренировочный проект. Эта ссылка проверяет наследовательность блоков</p></div>
{% load static %}

<img src="{% static "panorama-kaer-morhen.jpg" %}" alt="new image"/>
{% endblock %}
