{% extends 'Indexpage.html' %}

{% block body %}
{% load static %}
		<div class="ptb-150 border-t-b" style="background-image: url({% static "road.png"%})">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="slider-content">
							<h2 style="color:white;">Статическая маршрутизация
							</h2>
							<p style="color:LightCyan;">Привет, это просто страница со статистической маршрутизацией</p>
							<a class="btn" href="http://127.0.0.1:8000/">На главную страницу</a>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}


