{% extends 'Indexpage.html' %}

{% block body %}
{% load static %}
		<div class="ptb-150 border-t-b" style="background-image: url({% static "hide-the-pain-harold.jpg"%})">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="slider-content">
							<h2 style="color:Black;">Динамическая маршрутизация
							</h2>
							<p style="color:DimGray;">Привет, это страница с динамической маршрутизацией. В адрессной строке вы ввели число {{ post }}</p>
							<a class="btn" href="http://127.0.0.1:8000/">На главную страницу</a>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
