{% extends 'postpage.html' %}

{% block body %}

<head>
    <style>

    .zagolovok {
        text-align: center;
    }

    squad {
        padding-top: 5px;
        padding-right: 30px;
        padding-bottom: 5px;
        padding-left: 80px;
    }

    </style>
    <title>Красный квадрат</title>
</head>

<body style="background-color:DarkGray;">

<h1 class="zagolovok">Красный квадрат</h1>

<ul class="nav">
    <li><p><a href="http://127.0.0.1:8000/posts/">Просто страница с статитическим маршрутом</a></p></li>
    <li><p><a href="http://127.0.0.1:8000/posts/1/">Страница тестирования динамического маршрута</a></p></li>
    <li><p><a href="http://127.0.0.1:8000/aboutproject/">О проекте</a></p></li>
    <li><p><a href="http://127.0.0.1:8000/redsquad/">Страница с красным html квадратом</a></p></li>
        <li><p><a href="http://127.0.0.1:8000/announce/">Доска обьявлений</a></p></li>
</ul>

<p class="zagolovok">Это красный квадрат</p>

{% include 'squad.html' %}
{% endblock %}