{% extends 'Indexpage.html' %}

{% block body %}
		{% load static %}
		<!-- basic-breadcrumb start -->
		<div class="basic-breadcrumb-area bg-2 gray-bg ptb-70">
			<div class="container">
				<div class="basic-breadcrumb text-center">
					<h3 class="color-Akel">Обьявление</h3>
				</div>
			</div>
		</div>
		<!-- basic-breadcrumb end -->

		<!-- features-area start -->
		{% for i in Announs %}
		<div id="about" class="features-area pt-90 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-5 col-md-5">
						<div class="about-me mb-30">
							<img src="{% static "img/bg/me.jpg" alt="%}">
						</div>
					</div>
					<div class="col-xl-7 col-lg-7 col-md-7">
						<div class="about-me-info mt-30 mb-30 pl-30">
							<h2>{{ i.header }}</h2>
							<h5>{{ i.Author }}</h5>
							<p>{{ i.text }}</p>
							<a href="http://127.0.0.1:8000/announce/create/" class="btn smoth-scroll">Добавить запись</a>
							<a href="http://127.0.0.1:8000/announce/delete/{{ i.id }}" class="btn smoth-scroll">Удалить запись</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		 {% endfor %}
{% endblock %}
		<!-- features-area end -->
<!--		<footer>-->
<!--			<div class="basic-footer text-center gray-bg ptb-90">-->
<!--				<div class="container">-->
<!--					<div class="footer-logo mb-30">-->
<!--						<h3><a href="index.html">Akel</a></h3>-->
<!--					</div>-->
<!--					<div class="social-icon">-->
<!--						<a href="#"><i class="ion-social-facebook"></i></a>-->
<!--						<a href="#"><i class="ion-social-googleplus"></i></a>-->
<!--						<a href="#"><i class="ion-social-instagram"></i></a>-->
<!--						<a href="#"><i class="ion-social-dribbble"></i></a>-->
<!--					</div>-->
<!--					<div class="copyright mt-20">-->
<!--						<p>All copyright © reserved by <a href="#">BasicTheme</a> 2020</p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</footer>-->


<!--		&lt;!&ndash; All js plugins here &ndash;&gt;-->
<!--        <script src="js/vendor/jquery-1.12.0.min.js"></script>-->
<!--        <script src="js/bootstrap.min.js"></script>-->
<!--        <script src="js/isotope.pkgd.min.js"></script>-->
<!--        <script src="js/imagesloaded.pkgd.min.js"></script>-->
<!--        <script src="js/jquery.magnific-popup.min.js"></script>-->
<!--        <script src="js/jquery.meanmenu.js"></script>-->
<!--        <script src="js/plugins.js"></script>-->
<!--        <script src="js/main.js"></script>-->
<!--    </body>-->
<!--</html>-->

