{% extends 'Indexpage.html' %}

{% block content %}
<title>Создание обьявления</title>
{% endblock %}

{% block body %}
{% load static %}
		{% load static %}
		<!-- basic-breadcrumb start -->
		<div class="basic-breadcrumb-area bg-2 gray-bg ptb-70">
			<div class="container">
				<div class="basic-breadcrumb text-center">
					<h3 class="color-Akel">Новое обьявление</h3>
				</div>
			</div>
		</div>
		<!-- basic-breadcrumb end -->

		<!-- features-area start -->
		<div id="about" class="features-area pt-90 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-5 col-md-5">
						<div class="about-me mb-30">
							<img src="{% static "img/bg/me.jpg" alt="%}">
						</div>
					</div>
					<div class="col-xl-7 col-lg-7 col-md-7">
						<div class="about-me-info mt-30 mb-30 pl-30">
                    <form method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}
                        {{ form.header }}<br>
						{{ form.Author }}<br>
						{{ form.image_content }}<br>
						{{ form.text }}<br>
                        <span>{{ error }}</span>
                        <button type="submit" class="save btn btn-default">Сохранить обьявление</button>
						</div>
					</div>
				</div>
			</div>
		</div>
    </form>
{% endblock %}
