{% extends 'basehtml.html' %}

{% block body %}
{% load static %}

<body style="background-color:MediumSpringGreen;">
<ul class="nav nav-pills nav-fill p-3 mb-1" style="background-color: #e3f2fd;>
  <li class="nav-item">
     <a class="nav-link" href="http://127.0.0.1:8000/aboutproject/">О проекте</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://127.0.0.1:8000/posts/">Просто страница с статитическим маршрутом</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://127.0.0.1:8000/posts/1/">Страница тестирования динамического маршрута</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="http://127.0.0.1:8000/redsquad/">Страница с красным html квадратом</a>
  </li>
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/announce/">Доска обьявлений</a>
  </li>
</ul>
    {% for i in Announs %}
<div class="card w-auto" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ i.header }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ i.Author }}</h6>
    <p class="card-text">{{ i.text }}</p>
  </div>
</div>
 {% endfor %}
{% endblock %}
